<!DOCTYPE html>
<html>

{{> header}}

<body>
    <h1> {{pageTitle}} </h1>
    {{!-- <h3> {{welcomeMessage}} </h3> --}}
    <p>{{ welcomeMessage}}</p>
    <p> Some text here</p>
 
    {{> footer}}
</body>

</html>